
title {
  font-size: large;
}

.start-screen{
  display: block;
  justify-content: center;
  align-items: center;
}
.game-play{
  display: none;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 100px;
  font-size: 35px;
  margin-bottom: 0;
  padding: 0;
}

h2{
  font-size: 20px;
  padding:0;
}

.sqr:hover {
  background-color: #6c76ff;
  z-index:2;
}

body {
  background-image: url("../assets/images/catbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
	font-family: "Fjalla One", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.board {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
}

div {
  border: 3px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
  padding: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 9vmin;
}

button#reset-btn {
  background-color: aqua;
  color:black;
  font-weight: bold;
  border-radius:10px;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  width: 60px;
  height: 30px;
  margin-top: 25px;
}

#reset-btn:hover{
  background-color: #fcddb8;
}

.scoreboard{
  margin-top: 25px;
  height: 50px;
  padding: 10px;
}

.player-1-score, .player-2-score, .tie-score{
  border-color: transparent;
}
.scoreDisplay{
  font-size: 20px;
}

#catScore,
#catLadyScore,
#tieScore{
  width: 30px;
  margin: 5px;
}

#confetti-canvas {
  float: left;
  position: fixed;
}

#message{
  font-style: italic;
  margin-top: 0;
}